.align{
    display:flex;
    justify-content: center,
}
.padding{
    padding:2px;
    margin:5px
}
.basicdeck{
    display:flex;
    background-Color: 	#B0B0B0 !important;
    width:300px;
    border-radius: 10px;
  }

.button{
    width:15px;
    height:15px;
}

body{
    background-image: url("https://i.pinimg.com/originals/f9/5f/b2/f95fb2b052de71594c89d8621204ab1c.jpg") !important
}

.buttons{
    width:30px;
    height:30px
}


.basicFlex{
    display:flex;
}

.rowoffour{
    display: flex;
    flex-flow: row wrap;
    min-width: 25%;

}

