.align{
    display:flex;
    justify-content: center,
}
.padding{
    padding:2px;
    margin:5px
}
.basicdeck{
    background-Color: #F26419 !important;
  }

.button{
    width:20px;
    height:20px;
}

body{
    background-image: url("https://i.pinimg.com/originals/f9/5f/b2/f95fb2b052de71594c89d8621204ab1c.jpg") !important
}

