
body{
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.basiclook{
  font-family:Arial Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height:820px;
  background-image: url("https://i.pinimg.com/originals/f9/5f/b2/f95fb2b052de71594c89d8621204ab1c.jpg")!important;
  background-repeat: no-repeat;
  background-size:cover;
}

.navbar{
  background-Color: black !important
}