
.sideBySide{
    display: flex;
    justify-content: center;
    align-content: center
}
.row{
        display: flex;
        justify-content: center;
        flex-direction: row
}
.setAppart{
    margin:2px;
    padding:2px
}