
.sideBySide{
    display: flex;
    justify-content: center;
    align-content: center
}
.row{
        display: flex;
        justify-content: center;
        flex-direction: row
}
.center{
    margin:5px;
    padding:5px;
    display: flex;
    align-items: center;
    flex-direction: column
}

.centeredcontainer{
height:75;
width:40;
margin:5px;
padding:5px;
display: flex !important;
align-items: center !important;
flex-direction: column !important;
background-color:white !important
}

.basicdecks{
    display:flex;
    background-Color: 	#B0B0B0 !important;
    width:300px;
    border-radius: 10px;
    margin:5px;
    padding:5px;
    display: flex;
    align-items: center;
    flex-direction: column
  }

.button{
    width:20px;
    height:20px;
}
